* {
	margin: 0px;
	padding: 0px;
}
@font-face {
	font-family: SFLight;
	src: url('../fonts/SF-UI-Text-Light.otf');
}
*p{
	margin: 0;
	padding: 0;
}

body {
	display: table;
	width: 100%;
	height: 100vh;
	margin: 0;
	padding: 0;
	font-family: SFLight;
	text-align: center;

}
header {
	background-color: #F2F2F2;
	height: 60px;
	width: 100%;
	position: fixed;
	z-index:2;
}

#header-logo{
	height: 52px;
	float: left;
	padding-top: 3px;
	padding-left: 50px;
}

#profile-logo{
	float: right;
	height: 40px;
	width: 40px;
	padding: 10px;
	border-radius: 40px;
}

.hidden {
	display: none !important;
}

.sidebar {
	position: fixed;
	top: 60px;
	left: 0; bottom: 0;
	width: 300px;
	height: 100%;
	color: black;
	border-right: 2px solid #F2F2F2;
}

.right-sidebar {
	position: fixed;
	top: 60px;
	right: 0; bottom: 0;
	width: 280px;
	height: 100%;
	color: black;
	border-left: 2px solid #F2F2F2;
}

.center-container {
	margin-left: 310px;
	margin-right:290px;
	height:100vh;
	position:relative;
	overflow:hidden;
}

#id-logo{
	float: left;
	width: 45px;
	height: 45px;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	caption-side: right;
}

#id-logo-side {
	width: 45px;
	height: 45px;
	float: left;
	padding-left: 20px;
	padding-top: 20px;
	padding-right: 20px;
}

#user-name{
	font-size: 14px;
	float: right;
	padding-top: 25px;
	padding-right: 85px;
}

#chat-name{
	padding-top: 17px;
	text-align: left;
	float: left;
	font-size: 16px;
}

.online{
	height: 7px;
	padding-top: 23px;
}
.time {
	font-size: 10px;
	float: right;
	padding: 20px;
}
#preview-mssg{
	color: gray;
	float: left;
	font-size: 12px;
}

.user {
	height: 65px;
	border-bottom: 2px solid #F2F2F2;
}

.user:hover{
	background-color: #FAFAFA;
}

#textarea{
	padding: 10px;
	display: inline-block;
	padding-top: 10px;
	border-radius: 10px;
	resize: none;
}

#request{
	background-color: rgba(100, 200, 122, 1);
	padding-top: 7px;
	padding-bottom: 7px;
	padding-left: 75px;
	padding-right: 75px;
	color: white;
	border-radius: 7px;
	font-size: 15px;
	border: none;
}
#request:hover {
	background-color: #5CA759;
}

#report{
	background-color: #F45454;
	padding-top: 7px;
	padding-bottom: 7px;
	padding-left: 63px;
	padding-right: 63px;
	color: white;
	border-radius: 7px;
	font-size: 15px;
	border: none;
	text-align: center;
}
#report:hover {
	background-color: #F73939;
}



a:link {
	color: rgb(200, 200, 200);
	text-decoration: none;
	-webkit-transition: .2s all;
	-moz-transition: .2s all;
	-o-transition: .2s all;
	transition: .2s all;
}

a:visited {
	color: rgb(200, 200, 200);
	text-decoration: none;
}

a:hover {
	color: gray;
	text-decoration: none;
}

.form-field {
	width: 250px;
	margin-bottom: 10px;
	padding: 10px;
	border: solid 1px rgb(210, 210, 210);
	font-size: 12px;
	outline: 0;
	border-radius: 5px;
}

textarea {
	padding: 8px;
	border: solid 1px rgb(210, 210, 210);
	font: inherit;
	font-size: 12px;
	border-radius: 5px;
	outline: none;
}

.button {
	padding: 9px 20px;
	border: solid 1px #51C781;
	color: white;
	background-color: rgba(100, 200, 122, 1);
	font-size: 12px;
	border-radius: 5px;
	-webkit-transition: .2s all;
	-moz-transition: .2s all;
	-o-transition: .2s all;
	transition: .2s all;
}

.button:hover {
	color: white;
	background-color: #5CA759;
}

::-webkit-input-placeholder { /* WebKit browsers */
	color: rgb(210, 210, 210);
}

:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
	color: rgb(210, 210, 210);
}

::-moz-placeholder { /* Mozilla Firefox 19+ */
	color: rgb(210, 210, 210);
}

:-ms-input-placeholder { /* Internet Explorer 10+ */
	color: rgb(210, 210, 210);
}

.modal-container {
	opacity: 1;
	transition: opacity 0.3s;
}

.modal-container.hidden {
	display: block !important;
	visibility: hidden;
	opacity: 0;
	transition: opacity 0.3s, visibility 0s 0.3s;
}

.overlay {
	position: fixed;
	top: 0; left: 0;
	width: 100vw;
	height: 100vh;
	background: rgba(0, 0, 0, 0.5);
	cursor: pointer;
}

.modal {
	position: absolute;
	top: 10%;
	left: 0; right: 0;
	margin: auto;
	padding: 20px;
	background: white;
	width: 50%;
	max-width: 500px;
	border-radius: 5px;
}

.modal .close {
	float: right;
	margin-bottom: 20px;
	font-size: 20px;
	font-weight: bold;
}

.modal .close + * {
	clear: both;
}

#container {
	display: table-cell;
	text-align: center;
	vertical-align: middle;
}

#title {
	display: block;
	height: 120px;
	margin: 0 auto 60px;
}

#note {
	font-size: 12px;
}

#footer {
	position: absolute;
	bottom: 0; left: 0; right: 0;
	height: 20px;
	padding: 10px;
	color: gray;
	font-size: 12px;
	text-align: center;
}



.class-bubble {
	position:relative;
	font-family: "Helvetica Neue";
	font-size: 14px;
	font-weight: normal;
	margin: 5px auto;
	line-height: 24px;
	border-radius:25px;
	padding:5px 15px;
	max-width: 50%;
	word-wrap: break-word;
	text-align:left;
}

.class-chat-list-container {
	margin: 15px 0px;
}

.class-from-me {
	color:white; 
}
.class-from-me .class-bubble {
	background: rgba(100, 200, 122, 1);
	float:right;
}

.class-from-me .class-bubble:before {
		content:"";
		position:absolute;
		z-index:-1;
		bottom:-2px;
		right:-7px;
		height:20px;
		border-right:20px solid rgba(100, 200, 122, 1);
		border-bottom-left-radius: 16px 14px;
		-webkit-transform:translate(0, -2px);
}

.class-from-me .class-bubble:after {
		content:"";
		position:absolute;
		z-index:1;
		bottom:-2px;
		right:-56px;
		width:26px;
		height:20px;
		background:white;
		border-bottom-left-radius: 10px;
		-webkit-transform:translate(-30px, -2px);
	}






.class-from-them {
	color: black;
}

.class-from-them .class-bubble {
	background: #F2EEEE;
	float:left;
}


	
.class-from-them .class-bubble:before {
		content:"";
		position:absolute;
		z-index:2;
		bottom:-2px;
		left:-7px;
		height:20px;
		border-left:20px solid #F2EEEE;
		border-bottom-right-radius: 16px 14px;
		-webkit-transform:translate(0, -2px);
	}
	
	.class-from-them .class-bubble:after {
		content:"";
		position:absolute;
		z-index:3;
		bottom:-2px;
		left:4px;
		width:26px;
		height:20px;
		background:white;
		border-bottom-right-radius: 10px;
		-webkit-transform:translate(-30px, -2px);
	}
.class-descriptor {
}
.clear {clear: both}
#chat-content-wrapper {	
	overflow:auto;
	height: calc(100% - 160px);
	margin-top: 60px;
	padding:0px 30px;

}
/*message box */

.class-message-box-container {
	background: #FFF;
	padding-top: 10px;
	height: 100px;
	bottom: 0px;
	width:inherit;
	border-top: solid 1px rgb(210, 210, 210);
	text-align:left;
	vertical-align:top;
	right:0px;
	left:0px;
}
.message-box {
	
	padding: 10px;
	font-size: 12px;
	width: 85%;
	border: solid 1px black;
	outline: 0;
	border-radius: 5px;
	bottom:0%;
	float: left;
	resize: none;
	border: none;
}
#send-button {
	display: inline;
	padding-left: 10px;
	padding-top: 10px;
}








