		@font-face {
			font-family: SFLight;
			src: url('../fonts/SF-UI-Text-Light.otf');
		}
		
		body {
			margin: 0;
			padding: 0;		
			font-family: SFLight;
		}
		
		.logo-image:before {
    		content:url("../img/logo.png");
  		}

  		.logo-image {
    		content:url("../img/logo.png");
  		}

  		#downloadbutton {
  			display: none;
  		}
  		
		#container {
			height: 100vh;
			margin-top: 124px;
			/*background-color: blue;*/
		}

		#navbar {
			width: 80%;
			/*background-color: red;*/
			margin: 0 auto;
			position: fixed;
			top: 0px;
			width: 100%;
			background-color: rgba(255, 255, 255, 0.9);
			z-index: 1;
		}
		#navlinks {
			margin-right: 40px;
		}
		#navbar p a span {
			padding-bottom: 5px;
		}
		#navbar p a span:hover {
			border-bottom: solid 1px gray;
			color: gray;
			padding-bottom: 5px;
		}

		#navbar p a {
			color: gray;
		}

		#navbar .logo-image {
			height: 80px;
			padding: 20px;
			display: inline;
			margin-left: 25px;
		}

		#navbar p {
			float: left;
			font-size: 16px;
		}

		#nav-contact, #nav-about {
			color: gray;
			margin: 60px 20px 0px 0px;
		}

		#nav-login {
			padding: 9px 20px;
			margin: 49px 5px 0px 0px;
			border: solid 1px #51C781;
			color: white;
			background-color: rgba(100, 200, 122, 1);
			border-radius: 5px;
			-webkit-transition: .2s all;
			-moz-transition: .2s all;
			-o-transition: .2s all;
			transition: .2s all;
		}

		#content {
			max-width: 1000px;
			/*background-color: green;*/
			margin: 0 auto;
			position: relative;
			top: 50%;
			transform: translateY(-65%);
		}
#screenshotsdiv {
			display: inline;
		}

		#screenshots {
			height: 500px;
			opacity: 0;
			transform: translateX(-50px);
			-webkit-transition: 2s all;
			-moz-transition: 2s all;
			-o-transition: 2s all;
			transition: 2s all;
		}

		#text-content{
			opacity: 0;
			float: right;
			padding: 10px;
			width: 60%;
			margin-top: 80px;
			transform: translateY(-20px);
			-webkit-transition: .3s all;
			-moz-transition: .3s all;
			-o-transition: .3s all;
			transition: .3s all;
		}

		#text-1, #text-2, #text-3, #note {
			text-align: center;
			color: gray;
		}

		#text-1 {
			font-size: 42px;
			margin-bottom: 0;
			margin-top: 0px;
			opacity: 0;
			transform: translateY(20px);
			-webkit-transition: 1s all;
			-moz-transition: 1s all;
			-o-transition: 1s all;
			transition: 1s all;
		}

		#text-2 {
			margin-top: 15px;
			margin-bottom: 30px;
			font-size: 30px;
			opacity: 0;

			transform: translateY(20px);
			-webkit-transition: 1s all;
			-moz-transition: 1s all;
			-o-transition: 1s all;
			transition: 1s all;
		}

		#text-3 {
			margin-top: 60px;
			font-size: 15px;
			opacity: 0;
			-webkit-transition: 2s all;
			-moz-transition: 2s all;
			-o-transition: 2s all;
			transition: 2s all;
		}

		#enter-email{
			width: 200px;
			padding: 10px;  
			border: solid 1px rgb(210, 210, 210);  
			outline: 0;  
			background-color: white;
			font-size: 12px; 
			border-radius: 5px;
			font-family: SFLight;
		}

		#go-button{ 
			padding: 9px 15px; 
			border: solid 1px #51C781;
			border-radius: 5px;
			color: white;
			background-color: rgba(100, 200, 122, 1);
			font-size: 12px; 
			-webkit-transition: .2s all;
			-moz-transition: .2s all;
			-o-transition: .2s all;
			transition: .2s all;
		}

		#go-button:hover{
			background-color: rgba(81, 199, 129, 1.0);
			color: white;
		}

		::-webkit-input-placeholder { /* WebKit browsers */
			color: rgb(210, 210, 210);
		}

		:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
			color: rgb(210, 210, 210);
		}

		::-moz-placeholder { /* Mozilla Firefox 19+ */
			color: rgb(210, 210, 210);
		}

		:-ms-input-placeholder { /* Internet Explorer 10+ */
			color: rgb(210, 210, 210);
		}

		#note {
			font-size: 12px;
		}

		#email-us {
			width: 350px;
			margin: 0 auto;
			opacity: 0;
			-webkit-transition: 2s all;
			-moz-transition: 2s all;
			-o-transition: 2s all;
			transition: 2s all;
			text-align: center;
		}

		a:link {
			text-decoration: none;
			color: rgb(200, 200, 200);

			-webkit-transition: .2s all;
			-moz-transition: .2s all;
			-o-transition: .2s all;
			transition: .2s all;
		}

		a:hover {
			text-decoration: none;
			color: gray;
		}

		a:visited {
			text-decoration: none;
			color: rgb(200, 200, 200);
		}

		#arrow-down {
			width: 0; 
			height: 0; 
			border-left: 20px solid transparent;
			border-right: 20px solid transparent;
			border-top: 20px solid rgba(100, 200, 122, 1);
			position: absolute;
			bottom: 30px;
			right: 50%;
		}

		#arrow-down:hover {
			width: 0; 
			height: 0; 
			border-left: 20px solid transparent;
			border-right: 20px solid transparent;
			border-top: 20px solid #5CA759;
			position: absolute;
			bottom: 30px;
			right: 50%;
		}


		#information {
			//background-color: rgba(100, 200, 122, 1);
			height: 100vh;
			display: table;
			width: 100%;
		}

		#title {
			font-size: 42px;
			padding: 20px 20px 0 20px;
			margin-bottom: 40px;

			text-align: center;
			opacity: 0;
			transform: translateY(20px);
			-webkit-transition: 4s all;
			-moz-transition: 4s all;
			-o-transition: 4s all;
			transition: 4s all;
			color: gray;
		}

		#ytplayer-container {
			text-align: center;
			width: 100%;
		}

		#social-media {
			float: right; 
			display: inline; 
			margin-right:20px;
		}

		#counselor-code-msg {
 			text-align:center;
 			font-size: 12px;
 			color: gray;
 			margin-top: 30px;
 		}


		.icon {
			width: 50px;
			height: 50px;
			border-radius: 50%;
			
			
			margin-top: 42px;

			margin-right: 5px;
			margin-left: 5px;
			text-align: center;

			/*transform: translateY(50px);*/
			opacity: 1;
		}

		.icon:hover {
			width: 50px;
			height: 50px;
			border-radius: 50%;
					margin-top: 42px;

			margin-right: 5px;
			margin-left: 5px;
			background-color: rgba(179, 179, 179, 0.4);			
			
			text-align: center;

			/*transform: translateY(50px);*/
			opacity: 1;
		}

		.inner{
			vertical-align: middle;
			display: table-cell;
		}

		#go-button:hover, #nav-login:hover {
			color: white;
			background-color: #5CA759;
		}



@font-face {
    font-family: 'si';
    src: url('../socicon/socicon.eot');
    src: url('../socicon/socicon.eot?#iefix') format('embedded-opentype'),
         url('../socicon/socicon.woff') format('woff'),
         url('../socicon/socicon.ttf') format('truetype'),
         url('../socicon/socicon.svg#icomoonregular') format('svg');
    font-weight: normal;
    font-style: normal;
 
}
 
@media screen and (-webkit-min-device-pixel-ratio:0) {
    @font-face {
        font-family:si;
        src: url(../socicon/socicon.svg) format(svg);
    }
}

.soc {
    overflow:hidden;
    margin:0; padding:0;
    list-style:none;
    margin-top: 48px;
}

.soc li {
    display:inline-block;
    *display:inline;
    zoom:1;
}

.soc li a {
    font-family:si!important;
    font-style:normal;
    font-weight:100;
    -webkit-font-smoothing:antialiased;
    -moz-osx-font-smoothing:grayscale;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    -ms-box-sizing:border-box;
    -o-box-sizing:border-box;
    box-sizing:border-box;

    -o-transition:.1s;
    -ms-transition:.1s;
    -moz-transition:.1s;
    -webkit-transition:.1s;
    transition:.1s;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);

    overflow:hidden;
    text-decoration:none;
    text-align:center;
    display:block;
    position: relative;
    z-index: 1;
    width: 40px;
    height: 40px;
    line-height: 40px;
    font-size: 20px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    margin-right: 13px;
    color: #ffffff;
    background-color: #64c87a;
}


.soc li a:hover {
    font-family:si!important;
    font-style:normal;
    font-weight:100;
    -webkit-font-smoothing:antialiased;
    -moz-osx-font-smoothing:grayscale;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    -ms-box-sizing:border-box;
    -o-box-sizing:border-box;
    box-sizing:border-box;

    -o-transition:.1s;
    -ms-transition:.1s;
    -moz-transition:.1s;
    -webkit-transition:.1s;
    transition:.1s;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);

    overflow:hidden;
    text-decoration:none;
    text-align:center;
    display:block;
    position: relative;
    z-index: 1;
    width: 40px;
    height: 40px;
    line-height: 40px;
    font-size: 20px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    margin-right: 13px;
    color: #ffffff;
    background-color: #5CA759;
}

.soc-icon-last{
    margin:0 !important;
}

.soc-twitter:before {
    content:'a';
}
.soc-facebook:before {
    content:'b';
}
.soc-linkedin:before {
    content:'j';
}
.soc-email1:before {
    content:'<';
}