@font-face {
			font-family: SFLight;
			src: url('../fonts/SF-UI-Text-Light.otf');
		}
		body {
			margin: 0;
			padding: 0;		
			font-family: SFLight;
		}
		.logo-image:before {
    		
    		content:url("../img/logo.png");
  		}

  		.logo-image {
    		
    		content:url("../img/logo.png");
  		}

  		#downloadbutton {
  			display: none;
  		}
		#container {
			
			height: 100vh;
			margin-top: 124px;
			/*background-color: blue;*/
		}

		#navbar {
			width: 80%;
			/*background-color: red;*/
			margin: 0 auto;
			position: fixed;
			top: 0px;
			width: 100%;
			background-color: rgba(255, 255, 255, 0.9);
			z-index: 1;
		}
		#navbar p a span {
			padding-bottom: 5px;
		}
		#navbar p a span:hover {
			border-bottom: solid 1px gray;
			color: gray;
			padding-bottom: 5px;
		}

		#navbar p a {
			color: gray;
		}

		#navbar img {
			height: 80px;
			padding: 20px;
			display: inline;
		}

		#navbar p {
			float: left;
			font-size: 16px;
		}

		#nav-contact, #nav-about {
			color: gray;
			margin: 60px 20px 0px 0px;
		}

		#nav-login {
			padding: 9px 20px;
			margin: 49px 5px 0px 0px;
			border: solid 1px #51C781;
			color: white;
			background-color: rgba(100, 200, 122, 1);
			border-radius: 5px;
			-webkit-transition: .2s all;
			-moz-transition: .2s all;
			-o-transition: .2s all;
			transition: .2s all;
		}

		#content {
			max-width: 1000px;
			/*background-color: green;*/
			margin: 0 auto;
			position: relative;
			top: 50%;
			transform: translateY(-65%);
		}
#screenshotsdiv {
			display: inline;
		}

		#screenshots {
			height: 500px;
			opacity: 0;
			transform: translateX(-50px);
			-webkit-transition: 2s all;
			-moz-transition: 2s all;
			-o-transition: 2s all;
			transition: 2s all;
		}

		#text-content{
			opacity: 0;
			float: right;
			padding: 10px;
			transform: translateY(-20px);
			-webkit-transition: .3s all;
			-moz-transition: .3s all;
			-o-transition: .3s all;
			transition: .3s all;
		}

		#text-1, #text-2, #text-3, #note {
			text-align: center;
			color: gray;
		}

		#text-1 {
			font-size: 30px;
			margin-bottom: 0;
			margin-top: 90px;
			opacity: 0;
			transform: translateY(20px);
			-webkit-transition: 1s all;
			-moz-transition: 1s all;
			-o-transition: 1s all;
			transition: 1s all;
		}

		#text-2 {
			margin-top: 15px;
			margin-bottom: 30px;
			font-size: 18px;
			opacity: 0;

			transform: translateY(20px);
			-webkit-transition: 1s all;
			-moz-transition: 1s all;
			-o-transition: 1s all;
			transition: 1s all;
		}

		#text-3 {
			margin-top: 60px;
			font-size: 15px;
			opacity: 0;
			-webkit-transition: 2s all;
			-moz-transition: 2s all;
			-o-transition: 2s all;
			transition: 2s all;
		}

		#enter-email{
			width: 200px;
			padding: 10px;  
			border: solid 1px rgb(210, 210, 210);  
			outline: 0;  
			background-color: white;
			font-size: 12px; 
			border-radius: 5px;
			font-family: SFLight;
		}

		#go-button{ 
			padding: 9px 15px; 
			border: solid 1px #51C781;
			border-radius: 5px;
			color: white;
			background-color: rgba(100, 200, 122, 1);
			font-size: 12px; 
			-webkit-transition: .2s all;
			-moz-transition: .2s all;
			-o-transition: .2s all;
			transition: .2s all;
		}

		#go-button:hover{
			background-color: rgba(81, 199, 129, 1.0);
			color: white;
		}

		::-webkit-input-placeholder { /* WebKit browsers */
			color: rgb(210, 210, 210);
		}

		:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
			color: rgb(210, 210, 210);
		}

		::-moz-placeholder { /* Mozilla Firefox 19+ */
			color: rgb(210, 210, 210);
		}

		:-ms-input-placeholder { /* Internet Explorer 10+ */
			color: rgb(210, 210, 210);
		}

		#note {
			font-size: 12px;
		}

		#email-us {
			width: 350px;
			margin: 0 auto;
			opacity: 0;
			-webkit-transition: 2s all;
			-moz-transition: 2s all;
			-o-transition: 2s all;
			transition: 2s all;
			text-align: center;
		}

		a:link {
			text-decoration: none;
			color: rgb(200, 200, 200);

			-webkit-transition: .2s all;
			-moz-transition: .2s all;
			-o-transition: .2s all;
			transition: .2s all;
		}

		a:hover {
			text-decoration: none;
			color: gray;
		}

		a:visited {
			text-decoration: none;
			color: rgb(200, 200, 200);
		}

		#arrow-down {
			width: 0; 
			height: 0; 
			border-left: 20px solid transparent;
			border-right: 20px solid transparent;
			border-top: 20px solid rgba(100, 200, 122, 1);
			position: absolute;
			bottom: 30px;
			right: 50%;
		}

		#arrow-down:hover {
			width: 0; 
			height: 0; 
			border-left: 20px solid transparent;
			border-right: 20px solid transparent;
			border-top: 20px solid #5CA759;
			position: absolute;
			bottom: 30px;
			right: 50%;
		}


		#information {
			//background-color: rgba(100, 200, 122, 1);
			height: 100vh;
			display: table;
			width: 100%;
		}

		#title {
			font-size: 42px;
			padding: 20px 20px 0 20px;
			margin-bottom: 10px;

			text-align: center;
			opacity: 0;
			transform: translateY(20px);
			-webkit-transition: 4s all;
			-moz-transition: 4s all;
			-o-transition: 4s all;
			transition: 4s all;
			color: gray;
		}

		#ytplayer-container {
			height: 520px;
			width: 924px;
			margin: 0 auto;
			
		}


		.icon {
			width: 65px;
			height: 65px;
			border-radius: 50%;
			
			
			margin: 20px;
			text-align: center;

			/*transform: translateY(50px);*/
			opacity: 0;
		}

		.icon:hover {
			width: 65px;
			height: 65px;
			border-radius: 50%;
			margin: 20px;
			background-color: rgba(179, 179, 179, 0.4);			
			
			text-align: center;

			/*transform: translateY(50px);*/
			opacity: 0;
		}

		.inner{
			vertical-align: middle;
			display: table-cell;
		}

		#go-button:hover, #nav-login:hover {
			color: white;
			background-color: #5CA759;
		}